{%extends 'base/base.html'%}
{%load static%}

{%block collapse_navbar%}
<style>
    .main-container {
        min-height: 100vh;
        display: flex;
    }

    .sidebar {
        min-width: 7rem;
        width: 15rem;
        height: 100%;
        position: fixed;
        border-radius: 10%;
        border-top:2px solid #0E8388;

        border-right:2px solid #0E8388;

    }

    .header-box .fs-4 .mine{
        text-shadow: 0 0 3px #2E4F4F,
            0 0 6px #2E4F4F;
    }

    .header-box .fs-4 center{
        text-shadow: 0 0 3px #0E8388,
            0 0 6px #0E8388,
            0 0 9px #0E8388,
            0 0 12px #0E8388,
            0 0 18px #0E8388;
    }

    .sidebar .navbar-nav li a {
        padding-bottom: 2.5rem;
    }
    
    .sidebar .nav-item{
        display: flex;
    }

    .sidebar .nav-item img{
        width:84px;
        height:84px;
        padding:25px 25px;
    }
    .sidebar .nav-item a{
        font-weight: 400;
        padding:30px 20px;

    }

    .content {
        padding-left: 15rem;
        flex-grow: 1;
    }

    .skill-container{
        padding-left: 4rem;
        padding-top: 2rem;
        display:flex;
    }    

    .skill-container > div {
        display: inline-block;
        vertical-align: middle;
    }

    .tech-skills {
        width: 22rem;
        position: relative;
        color:#394a51;
        background-color: #fff;
        margin:0 35px;
        padding:10px 20px;
        border-radius: 7px;
    }

    .tech-skills .skill-box{
        width:100%;
        margin:25px 0;
    }

    .tech-skills h3{
        font-size:30px;
        text-align: center;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 60px;
        font-family: 'Poppins',sans-serif;
    }

    .skill-box .title{
        font-weight: 500;
    }

    .skill-box .skill-bar{
        height:8px;
        width:100%;
        border-radius:6px;
        margin-top:6px;
        background-color: rgba(0,0,0,0.1);
    }

    .skill-bar .skill-per{
        position: relative;
        display:block;
        height:100%;
        width:70%;
        border-radius:6px;
        background:#279EFF;
        animation:progress 0.4s ease-in-out forwards;
        opacity: 0;
    }

    @keyframes progress{
        0%{
            width:0;
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .skill-per .skill-tooltip{
        position: absolute;
        right:-14px;
        top:-20px;
        font-size:9px;
        font-weight:500;
        padding:2px 6px;
        border-radius:3px;
        background:#279EFF;
    }

    .skill-tooltip::before{
        content:'';
        position:absolute;
        bottom:-2px;
        height:10px;
        width:10px;
        z-index:-1;
        transform:translateX(-50%) rotate(45deg)
    }

    .nontech-skills{
        width: 22rem;
        background-color: #fff;
        margin:0 35px;
        padding:10px 20px;
        border-radius: 7px;
    }

    .nontech-skills h3{
        color:#394a51;
        font-size:30px;
        text-align: center;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 60px;
        font-family: 'Poppins',sans-serif;
    }

    .content .presentation{
        position: relative;
        height:auto;
    }
    

    @media only screen and(max-width:992px) {}
</style>

<div class="main-container">
    <div class="sidebar" id="side_nav">
        <div class="header-box" style="padding-top:1.5rem">
            <h1 class="fs-4" role="button" style="color:#CBE4DE;font-family:'Oswald',sans-serif">
                <span class="mine bg-white text-dark rounded shadow px-2 me-2">
                    KM's
                </span>
                <center>DASHBOARD</center>
            </h1>
        </div>
        <div style="color:#CBE4DE;padding-top:1.5rem;">
            <hr>
        </div>
        

        <ul class="navbar-nav ms-auto" style="color:#CBE4DE;padding-top:5rem">
            <li class="nav-item">
                <img src="{% static 'images/pencil.png' %}">
                <a class="nav-link px-3" href="/skill">SKILL</a>
            </li>
            <li class="nav-item"><a class="nav-link px-3" href="/project">PROJECT</a></li>
            <li class="nav-item"><a class="nav-link px-3" href="/cert">CERTIFICATION</a></li>
            <li class="nav-item"><a class="nav-link px-3" href="/"></a></li>
        </ul>
    </div>

    <div class="content">
        <div class="skill-container">
            <div class="tech-skills">
                <h3>Technical Skills</h3>
                <div class="skill-box">
                    <span class="title">Python</span>
                    <div class="skill-bar">
                        <span class="skill-per">
                            <span class="skill-tooltip">70%</span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">R</span>
                    <div class="skill-bar">
                        <span class="skill-per">
                            <span class="skill-tooltip">75%</span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">SQL and NoSQL</span>
                    <div class="skill-bar">
                        <span class="skill-per">
                            <span class="skill-tooltip">75%</span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Tableau</span>
                    <div class="skill-bar">
                        <span class="skill-per">
                            <span class="skill-tooltip">75%</span>
                        </span>
                    </div>
                </div>
            </div>
                
            <div class="nontech-skills">
                <h3>Professional Skills</h3>
            </div>
        </div>   
        
        <!-- <div class="presentation">
            <div class='tableauPlaceholder' id='viz1692021720554' style='position: relative'><noscript><a href='#'><img
                            alt='Biểu đồ tổng số lượng tử của mỗi loại - 1995 '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_16886331953780&#47;Sheet2&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Book1_16886331953780&#47;Sheet2' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_16886331953780&#47;Sheet2&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
            <script type='text/javascript'>  
                var divElement = document.getElementById('viz1692021720554');
                var vizElement = divElement.getElementsByTagName('object')[0]; 
                vizElement.style.width = '100%'; 
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; 
                var scriptElement = document.createElement('script'); 
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>
        </div> -->
        
    </div>

    
</div>
{%endblock%}